site_name: More Organised Than My Brain
site_url: https://jajetloh.github.io/more-organised-than-my-brain/
theme:
  name: material
plugins: 
  - tags
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js